# OS
.DS_Store

# R
.Rhistory
.Rproj.user/
.RData
renv/library/

# Stata
*.log
*.smcl
*.tmp

# Keep folders visible but ignore their contents
data_raw/**
!data_raw/.gitkeep

data_interim/**
!data_interim/.gitkeep

data_final/**
!data_final/.gitkeep

figs/**
!figs/.gitkeep

results/**
!results/.gitkeep

doc/**
!doc/.gitkeep
